/* General styles */
html {
  font-family: Inter;
  font-size: 16px;
}

body {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-gray-black);
  background-color: var(--dl-color-gray-white);
}

/* Home container styles */
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home-container1 {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.button-temp-humidity-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-text {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}

.temperature-humidity-container {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.temperature-display, .humidity-display, .update-display {
  margin-bottom: 10px;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Button styles */
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 100px; /* Add margin below the button */
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(7px);
  transition: transform 500ms cubic-bezier(.17, .67, .83, .67);
}

.button-82-edge-door_opened,
.button-82-edge-door_closed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.button-82-edge-door_opened {
  background: linear-gradient(to left, hsl(340deg 100% 16%) 0%, hsl(340deg 100% 32%) 8%, hsl(340deg 100% 32%) 92%, hsl(340deg 100% 16%) 100%);
}

.button-82-edge-door_closed {
  background: linear-gradient(to left, hsl(120deg 100% 16%) 0%, hsl(120deg 100% 32%) 8%, hsl(120deg 100% 32%) 92%, hsl(120deg 100% 16%) 100%);
}

.button-82-front-door_opened,
.button-82-front-door_closed {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  will-change: transform;
   transform: translateY(-4px);
  transition: transform 500ms cubic-bezier(.17, .67, .83, .67);
}

.button-82-front-door_opened {
  background: hsl(0deg 100% 35%);
}

.button-82-front-door_closed {
  background: hsl(120deg 100% 40%);
}

.button-text {
  text-shadow: 1px 2px #2b2727;
}

/* Media queries */
@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

@media (max-width: 768px) {
  .home-container {
    padding: 20px;
  }

  .home-text {
    font-size: 4vw;
  }

  .temperature-display, .humidity-display, .update-display {
    font-size: 3vw;
  }

  .button-82-pushable {
    font-size: 3vw;
    width: 80vw;
    height: 12vw;
  }
}

.button-82-pushable:hover {
  filter: brightness(120%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-10px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

.button-and-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}